<%- include('partials/head')  %> 
<body>
    <%- include('partials/header')  %> 
    <h1>index</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
    </ul>

    <a href="/user/allUsers">Lista de usuarios</a>
    <%- include('partials/footer')  %> 
</body>
</html>