<%- include('partials/head')  %> 
<body>
    <%- include('partials/header')  %> 
    <h1>index</h1>
  

    <a href="/user/allUsers">Lista de usuarios</a>
    <%- include('partials/footer')  %> 
</body>
</html>