<%- include('partials/head')  %> 
<body>
    <%- include('partials/header')  %>
    <h1>login</h1> 
    <form action="/user/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email" id="">
        <br>
        <label for="">Password</label>
        <input type="password" name="pass" id="">
        <br>
        <button type="submit">Iniciar Sesion</button>
    </form>
    <% if (typeof errors != 'undefined') { %>
        <ul>
            <% errors.forEach(error => { %>
             <li><%= error.msg %> </li>
            <% }) %>
        </ul>
        
    <% } %>
    <%- include('partials/footer')  %> 
</body>
</html>