<%- include('partials/head')  %> 
<body>
    <%- include('partials/header')  %> 
    <h1>register</h1>
    <form action="/user/register" method="post">
        <label for="">Nombre de usuario</label>
        <input type="text" name="userName" id="">
        <br>
        <label for="">Nombre completo</label>
        <input type="text" name="names" id="">
        <br>
        <label for="">Apellidos</label>
        <input type="text" name="surnames" id="">
        <br>
        <label for="">Email</label>
        <input type="email" name="email" id="">
        <br>
        <label for="">Password</label>
        <input type="password" name="pass" id="">
        <br>
        <button type="submit">Enviar</button>
    </form>
    <%- include('partials/footer')  %> 
</body>
</html>